# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/VSRESTSolution/packages
/VSRESTSolution/VSRESTSolution.VC.VC.opendb
*.db
/VSRESTSolution/UnitTestGenInfo/Debug
/VSRESTSolution/ipch/UNITTESTGENINFO-f7ad03e8
/VSRESTSolution/geninfo/Debug/geninfo.tlog
/VSRESTSolution/Debug
